<div class="container clearfix">
  <div class="result_left">
    <h1 title="Plumber company"><span itemprop="name">Plumber company</span></h1>
    <div class="table_result">
      <div class="row">
        <div class="col_a">
          <i class="fa fa-street-view" title="Informatie › Plumber company"></i>
        </div>
        <div class="col_b" itemprop="address"itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">Osloweg 126</span><br><span itemprop="postalCode">1021 JS</span> <span itemprop="addressLocality">Amsterdam</span> (<span itemprop="addressRegion">Noord-Holland</span>)
        </div>
      </div>
      <div class="row">
        <div class="col_a">
          <i class="fa fa-phone" title="Telefoonnummer › Plumber company"></i>
        </div>
        <div class="col_b">
          Tel: <span itemprop="telephone">0592-353758</span><br>
          Fax: <span itemprop="faxNumber">050-5421890</span><br>
          KvK: <span itemprop="taxID">04024864</span>
        </div>
      </div>
      <div class="row">
        <div class="col_a">
          <i class="fa fa-at" title="E-mail › Plumber company"></i>
        </div>
        <div class="col_b">
          <a href="http://www.loodgieter-vinden.nl/e-mail/rion-ontstoppingsservice" title="E-mail › Plumber company">E-mail › Plumber company</a>
        </div>
      </div>
      <div class="row">
        <div class="col_a">
          <i class="fa fa-desktop small" title="Website › Plumber company"></i>
        </div>
        <div class="col_b">
          Website: <a href="http://www.plumbercompany.nl" title="Plumber company" onclick="count(30,this.href); return false;" itemprop="url">http://www.plumbercompany.nl</a> | <a href="#" onclick="switch_jbb(30,'screenshot','http://www.plumbercompany.nl');return false;" class="a_astext" id="change_screenshot_30"<span class="color_a"></span></a><br><div class="maxwidth"><div id="show_screenshot_30"></div></div>
        </div>
      </div>
      <div class="row">
        <div class="col_a">
          <i class="fa fa-pencil" title="Beschrijving › Plumber company"></i>
        </div>
        <div class="col_b" itemprop="description" content="Onze voordelen zijn:
        • Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
        venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.">
        <img src="http://www.loodgieter-vinden.nl/img/no-image-small.png" width="237" height="66" alt="Afbeelding › Plumber company" title="Afbeelding › Plumber company" class="img_single">
        Lorem ipsum lorem ipsum:<br>
        • Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
      </div>
    </div>
    <div class="row">
      <div class="col_a">
        <i class="fa fa-tags small" title="Diensten › Plumber company"></i>
      </div>
      <div class="col_b">
        <i>Services unknown</i>
      </div>
    </div>
    <div class="row">
      <div class="col_a">
        <i class="fa fa-clock-o" title="Openingstijden › Plumber company"></i>
      </div>
      <div class="col_b">
        <i>Opening hours unkown</i>
      </div>
    </div>
    <div class="row">
      <div class="col_a">
        <i class="fa fa-video-camera small" title="Introductie video › Plumber company"></i>
      </div>
      <div class="col_b">
        <i>Intro video unkown</i>
      </div>
    </div>
    <div class="row">
      <div class="col_a">
        <i class="fa fa-car small" title="Werkgebied › Plumber company"></i>
      </div>
      <div class="col_b">
        <i>Way of travel unkown</i>
      </div>
    </div>
    <div class="row">
      <div class="col_a">
        <i class="fa fa-user" title="Sociale Media › Plumber company"></i>
      </div>
      <div class="col_b">
        Social media:
        <div class="social_links">
          <a title="Twitter › Plumber company" class="disable"><i class="fa fa-twitter"></i></a>
          <a title="Facebook › Plumber company" class="disable"><i class="fa fa-facebook"></i></a>
          <a title="Google plus › Plumber company" class="disable"><i class="fa fa-google-plus"></i></a>
          <a title="Linkedin › Plumber company" class="disable"><i class="fa fa-linkedin"></i></a>
          <a title="Youtube › Plumber company" class="disable"><i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="result_right"></div>



<style>
  .container {
    margin: 0 auto;
    padding: 20px 40px 25px;
    padding-top: 80px;
    width: 100%;
    max-width: 1263px;
  }

  .result_left {
    float: left;
    margin: 0;
    padding: 0;
    width: 55%;
  }
  .container h1 {
    margin: 0;
    padding: 0;
    line-height: 120%;
    font-size: 20px;
    color: #A1CB0F;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1px;
  }
  .table_result {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-spacing: 0 15px;
  }
  .row {
    display: table-row;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .col_a {
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 35px;
    color: #D1D4D8;
  }
  .col_a i {
    font-size: 20px;
    line-height: 20px;
  }
  .col_b {
    display: table-cell;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 500px;
    line-height: 150%;
    vertical-align: top;
  }
  a {
    color: #A1CB0F;
  }
  .img_single {
    float: left;
    margin: 3px 25px 10px 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background-color: #FFF;
  }
  .social_links {
    margin: 15px 0 0;
    padding: 0;
  }
  .social_links a.disable {
    background-color: #EDEDED;
  }
  .social_links a {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: grey;
    text-align: center;
    background: #DADADA;
    border-radius: 16px;
  }
  .social_links a i {
    line-height: 32px;
  }
  .result_right {
    float: right;
    margin: 0;
    padding: 13px 0 0;
    width: 36%;
  }
</style>

