.form-inputs {
  width:200px;
  margin:auto;

}

.simple_form {
  text-align:center;
}

.login-form {
  text-align:center;
}

.btn-facebook {
  width: 300px;
  margin:auto;
  text-align:center;
  padding:auto;
}
