/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home_search {
  padding: 10px;
  border-radius: 3pt;
}

.home_search_button {
height: 47px;
border-radius: 3pt;
}

.title {
  font-size:80px;
  font-weight: bold;
  margin-bottom: 0px;
}

.tag_line {
  margin:0px;
}

.fa-search{
  font-size: 60px;
  text-align: center;
}

.fa-thumbs-up{
  font-size: 60px;
  text-align: center;
}

.fa-phone{
  font-size: 60px;
  text-align: center;
}

.wrapper-how-it-works {
  padding: 200px 0px;
  text-align: center;
  color: rgb(210, 51, 51);
}

.searched-service{
  color:white;
  font-size: 30px;
  font-weight: bold;
}

.searched-location {
  color:#000000;
}

.logo{
  width: 450px;
}
